* {
  margin: 0;
  padding: 0;
}
.header {
  width: 1340px;
  height: 70px;
  border-bottom: 1px solid lightgray;
}
.header-container {
  width: 1200px;
  height: 65px;
  border: 1px solid ;
}
.header-logo {
  width: 280px;
  height: 40px;
}
.header-location {
  width: 151px;
  height: 42px;
}
